* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header {
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    position:sticky;
    top:0;
}

.header a {
    color:white;
    margin-left:20px;
    text-decoration:none;
}

.logo {
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:700;
    font-size:20px;
}

.logo span {
    color: rgb(182, 200, 144);
}

.logo img {
    height:40px;
}


/* HERO */

.hero {
    height:90vh;
    background:url("images/hero.jpg") center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-align:center;
}

.hero h1 {
    font-size:50px;
}

/* ABOUT */

.about {
    background:#eee;
    padding:50px;
    text-align:center;
    font-size:18px;
}

/* WHY */

.why {
    padding:70px 20px;
    text-align:center;
}

.why-grid {
    margin-top:40px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:30px;
}

.why-card {
    padding:30px;
    background:#f7f7f7;
}

/*
/* CARS */

.cars {
    background:#222;
    color:white;
    padding:70px 20px;
    text-align:center;
}

.cars-grid {
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.car {
    width:280px;
    background:white;
    color:black;
    padding:15px;
    border-radius:8px;
}

.car img {
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:6px;
}
*/

/* CONTACT */

.contact {
    background:black;
    color:white;
    text-align:center;
    padding:60px 20px;
}

.contact iframe {
    width:100%;
    height:300px;
    border:none;
    margin-top:20px;
}

.phone {
    margin-left:30px;
    font-weight:700;
    color:#9acd32;
}

.why-card h4 {
    margin:15px 0;
    font-weight:600;
}

.contact h2 {
    font-size:60px;
}

.subtitle {
    margin-bottom:40px;
    font-size:22px;
}

.contact-grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    max-width:900px;
    margin:40px auto;
    text-align:left;
}

.contact-grid p {
    margin:8px 0;
}

@media (max-width:768px) {

    .header {
        flex-direction:column;
        gap:10px;
        text-align:center;
    }

    .contact-grid {
        grid-template-columns:1fr;
        text-align:center;
    }

    .hero h1 {
        font-size:32px;
    }

}


/* FOOTER */

footer {
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}
